@model Guid
@{
    var answers = AAYW.DependecyResolver.Resolver.GetInstance<AAYW.Core.Data.Managers.AnswerManager>().GetList(Model.ToString());
}
<ul class="no-marker">

    @foreach (var answer in answers)
    {
        <li class="mui-panel">
            <div class="answer-metadata">
                <span class="answer-metadata-postingtime">@answer.CreationTime.ToLocalTime()</span>
            </div>
            <div class="answer">
                <p>
                    @answer.Description
                </p>
            </div>
        </li>
    }
    
</ul>