@using AAYW.Models.ViewModels
@model AnswerModel
@{
    Func<string, object> makeAttributes = (key) => new Dictionary<string, Object> { { "data-reactive", "true" }, { "data-reactive-target", key + "CharCounter" }, { "data-reactive-method", "input" } };
}
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.ParentId)
        <div class="row">
            @Html.LabelFor(m => m.Description)
            <div class="control mui-textfield">
                @Html.EditorFor(m => m.Description, new { htmlAttributes = makeAttributes("AnswerDescription") })
            </div>
            <div id="char-counter">
                <span id="AnswerDescriptionCharCounter">0</span>/1000
            </div>
        </div>
        <div class="row">
            <div class="control">
                <input class="mui-btn mui-btn--raised" type="submit" value="@Html.Text("Reply")" />
            </div>
        </div>
    }
