@{ 
    var authorized = AAYW.Core.Dependecies.Resolver.GetInstance<AAYW.Core.Data.Managers.UserManager>().IsAuthorized;
}
<div class="mui-appbar">
    <img src="~/Content/img/logo.png"/>
    <ul class="inline menu">
        <li>@Html.RouteLink(Html.Text("Home"), "Home")</li>
        @if (authorized)
        {
            <li>
                @Html.RouteLink(Html.Text("Logout"), "Logout")
            </li>
        }
        else
        {
            <li>@Html.RouteLink(Html.Text("Login"), "Login")</li>
            <li>@Html.RouteLink(Html.Text("Register"), "Register")</li>
        }

    </ul>
</div>

