@{
    ViewBag.Title = Html.Text("Error_NotFound");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="landing mui-panel center">
    <h1>@Html.Text("Error_NotAllowed")</h1>
    <p>
        @Html.Text("Error_NotAllowedDetails")
    </p>
    @Html.Button(Html.Text("Home"), ButtonType.Flat, Url.RouteUrl("Home"))
</div>


