@model Dictionary<string, object>
@{
    ViewBag.Title = Html.Text("AdminHome");
    Layout = Layouts.Admin;
}
<div class="mui-panel">
    <div class="center">
        @Html.Button(Html.Text("DropCache"), ButtonType.Raised, Url.RouteUrl("DropCache"), cssClass: "drop-cache")
    </div>
    <ul class="mui-list--unstyled log">
        @foreach(var msg in Model)
        {
            <li><strong>@msg.Key</strong> &rArr; <em>@msg.Value.SafeToString()</em></li>
        }
    </ul>
</div>


