@*
    Result field depends on user selected field in backoffice
*@
@model AAYW.Core.Models.View.UserForm.UserFormDesignModel
@{
    ViewBag.Title = "CustomForm";
    Layout = Layouts.Default;
}

<div class="mui-panel center custom-form">
    @Html.Partial("_CustomForm", Model)
</div>