
@{
    ViewBag.Title = Html.Text("FormSubmited");
    Layout = Layouts.Default;
}
<div class="form-submited mui-panel center mui-col-md-4 mui-col-md-offset-4">
    <h2>@Html.Text("FormSubmited")</h2>
    <p>@Html.Text("FormSubmitedDetails")</p>
    @Html.Button(Html.Text("Home"), ButtonType.Raised, Url.RouteUrl("Home"))
</div>

