@*
    Result field depends on user selected field in backoffice

*@

@model IList<AAYW.Core.Models.Bussines.Admin.ContentBlock>
@{
    Layout = Layouts.Default;
}

<div class="mui-panel center custom-form">
    @foreach (var item in Model)
    {
        <div>
            @switch (item.Type)
            {
                case AAYW.Core.Models.Bussines.Admin.ContentBlock.BlockType.Html:
                    @Html.Partial("_Html", item.Content)
                    break;
                case AAYW.Core.Models.Bussines.Admin.ContentBlock.BlockType.Feed:
                    @Html.Partial("_Feed", item);
                    break;
                default:
                    break;
            }
        </div>
    }
</div>