.inline {
    display: inline-block;
}

ul.inline, ul.no-marker, .validation-summary-errors ul
{
    list-style-type: none;
    padding: 0;
}

ul.inline li { display: inline-block; }

.upvote, .downvote{
    cursor: pointer;
}

.mui-appbar a{
    color: white;
}

.center{
    text-align: center;
}
.menu{
    height: 64px;
    margin: 0;
}
.menu li, .menu li a{
    display: inline-block;
    padding: .75em;
    height: 100%;
}
.landing{
    font-size: large;
    margin-top: 1em;
    text-align: center;
    padding: 3em 0;
}
.validation-summary-errors{
    color: red;
    display: inline-block;
    border: 1px solid rgba(255, 0, 0, 0.66);
    padding: 1em;
    border-radius: 1.5em;
    background: rgba(255, 0, 0, 0.16);
}
.validation-summary-errors ul{
    margin: 0;
}
input.input-validation-error, textarea.input-validation-error{
    border: none;
    border-bottom: 1px solid rgba(255, 0, 0, 0.26);
}
header{
    margin-bottom: 1em;
}