body{
    min-width: 400px;
}
.inline {
    display: inline-block;
}
.hidden{
    display: none;
}
ul.inline, ul.no-marker, .validation-summary-errors ul
{
    list-style-type: none;
    padding: 0;
}
ul.inline li { display: inline-block; }
.upvote, .downvote{
    cursor: pointer;
}
.paging {
    font-size: large;
}
.mui-appbar a{
    color: white;
}
.no-results{
    font-size: 3em;
    color: rgba(128, 128, 128, 0.42);
    height: 100%;
}
.center{
    text-align: center;
}
.menu{
    height: 64px;
    margin: 0;
}
.menu li, .menu li a{
    display: inline-block;
    padding: .75em;
    height: 100%;
}
.landing{
    font-size: large;
    margin-top: 1em;
    text-align: center;
    padding: 3em 0;
}
.validation-summary-errors{
    color: red;
    display: inline-block;
    border: 1px solid rgba(255, 0, 0, 0.66);
    padding: 1em;
    border-radius: 1.5em;
    background: rgba(255, 0, 0, 0.16);
}
.validation-summary-errors ul{
    margin: 0;
}
input.input-validation-error, textarea.input-validation-error{
    border: none;
    border-bottom: 1px solid rgba(255, 0, 0, 0.26);
}
header{
    margin-bottom: 1em;
}
.popup-close-button{
    color: dimgray;
    cursor: pointer;
}
.popup-containter{
    padding: 1em;
    text-align: center;
}
.popup{
    padding: 1em;
}
/*************/
#loading-indicator{
    z-index: 999999999;
    position: fixed;
    background: rgba(128, 128, 128, 0.42);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.spinner-wrapper{
    width: 300px;
    height: 300px;
    text-align: center;
    z-index: 1000;
    background: white;
    position: fixed;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -150px;
}
.spinner-wrapper h1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-43%, -115%);
    color: white;
    text-shadow: 0px 0px 5px black;
}
.spinner{
    margin-top: 150px;
    transform: translateY(-50%);
    display: inline-block;
    background: #2196F3;
    border-radius: 50%;
    width: 0%;
    height: 0%;

    -webkit-animation: fill-unfill 5332ms linear infinite both;
    animation: fill-unfill 5332ms linear infinite both;
}

@-webkit-keyframes fill-unfill {
  0% {
    width: 0%; 
    height: 0%;
    opacity: 1;
  }
  50% {
    width: 50%; 
    height: 50%;
    opacity: .5;
  }
  100% {
    opacity: 0;
    width: 100%; 
    height: 100%;
  } 

}

/**ADMIN**/
.admin-sidebar{
    padding-top: 0;
    text-align: center;
    font-size: large;
    margin-top: 1em;
}
.admin-sidebar .mui-btn, .admin-sidebar .mui-dropdown {
    width: 100%;
    padding: 0;
    height: auto;
}
.admin-menu {
    list-style: none;
    padding: 0;
}
.admin-content > div{
    text-align: center;
    margin-top: 18px;
}
.admin-content .table-wrapper{
    overflow-x: scroll;
}
.admin-inspector tr{
    cursor: pointer;
}
.admin-content th, .admin-content tr {
    text-align: center;
}
.popup-editor input, .admin-mail-settings input,.popup-editor textarea,
 .admin-mail-settings textarea,.popup-editor .admin-dropdown,
 .admin-mail-settings .admin-dropdown{
    max-width: 500px;
    margin: 0 auto;
}
.popup-editor select option, .admin-mail-settings select option{
    text-align: center;
}
.admin-sidebar .mui-btn + .mui-btn {
  margin-left: 0;
}
.form-constructor input, .form-constructor select{
    max-width: 350px;
    display: inline-block;
}
.admin-dropdown{
    display: block;
    padding-top: 15px;
    margin-bottom: 20px;
    position: relative;
}
.admin-dropdown select{
    -webkit-animation-duration: 0.0001s;
    animation-duration: 0.0001s;
    -webkit-animation-name: mui-node-inserted;
    animation-name: mui-node-inserted;
    display: block;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    outline: none;
    width: 100%;
    font-size: 16px;
    padding: 0;
    box-shadow: none;
    border-radius: 0px;
    background-image: none;
}